doctype html
html(lang="en")
    frameset(rows="18%,70%*,3.2%" frameborder='0')
        frame(src="./admin_top.html")
        frameset(cols="200px,75%*")
            frame(src="./admin_left.html")
            frame(id="mainFrame", name="mainFrame", src="./admin_main.html")
        frame(src="./admin_foot.html")