doctype html
html(lang="en")
    head
        link(rel='stylesheet', type='text/css', href='./css/index.css')
        include ../includes/script.jade
        script(type='text/javascript').
            KISSY.use("io,node,json", function(S, Io, Node, Json){

                Node.one("#bye").on("click", function(){
                  CurSite.clear;
                  window.parent.location.href="sys_channelLogin.html";
                });

            });

    body
         .sidebar
             ul

              for book in rst
                 li
                    a(href=book.url target='mainFrame')=book.name
              end
                 li
                    a(href='javascript:void(0)' target='mainFrame' id='bye') 退出登录